@use '../abstracts/variables';
@use '../abstracts/mixins';
.client-details {
  padding: variables.$spacing-xl;

  h2 {
    margin-bottom: variables.$spacing-lg;
    font-size: 1.8rem;
  }

  &__box {
    background-color: variables.$color-gray-light;
    padding: variables.$spacing-lg;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    line-height: 1.6;

    p {
      margin-bottom: variables.$spacing-md;
    }

    strong {
      display: inline-block;
      min-width: 100px;
    }
  }
}
