// base/_reset.scss
@use 'sass:color';
@use '../abstracts/variables';
/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografía base */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: variables.$font-base;
  background-color: variables.$color-light;
  color: variables.$color-dark;
  line-height: 1.5;
  min-height: 100vh;
}

/* Listas sin puntos */
ul, ol {
  list-style: none;
}

/* Enlaces sin subrayado */
a {
  text-decoration: none;
  color: inherit;
}

/* Imágenes fluidas */
img {
  max-width: 100%;
  display: block;
}
.btn {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;

  &--primary {
    background-color: variables.$color-primary;
    color: white;

    &:hover {
      background-color: color.scale(variables.$color-primary,$lightness: 10%);
    }
  }

  &--danger {
    background-color: variables.$color-danger;
    color: white;

    &:hover {
      background-color: color.scale(variables.$color-danger,$lightness: 10%);
    }
  }

  &--outline {
    background-color: transparent;
    color: variables.$color-primary;
    border: 1px solid variables.$color-primary;

    &:hover {
      background-color: variables.$color-primary;
      color: white;
    }
  }
}
